---
const { title, url, image } = Astro.props;
---

<astro-icon-desktop data-url={url}>
  <article class="w-24 h-24 flex flex-col items-center">
    <div class="w-16 mb-1">
      <div class="aspect-w-5 aspect-h-4">
        <img
          class="w-full h-full object-center object-cover"
          src={image.url}
          alt={image.alt}
        />
      </div>
    </div>
    <div class="text-sm text-center">
      <a href={url}> {title}</a>
    </div>
  </article>
</astro-icon-desktop>

<script>
  class AstroIconDesktop extends HTMLElement {
    constructor() {
      super();
      const desktopIconElement = this.querySelector("article");

      desktopIconElement.addEventListener("click", () =>
        alert("clicou" + this.dataset.url)
      );
    }
  }

  customElements.define("astro-icon-desktop", AstroIconDesktop);
</script>
