---
const { platform, username, icon, visible = true } = Astro.props;
---

{
  visible && (
    <a
      target="_blank"
      class="hover:opacity-80 hover:cursor-default active:opacity-40"
      href={`https://www.${platform}.com/${username}`}
      title={platform}
    >
      <img src={icon} alt={platform} />
    </a>
  )
}
