---
import ChevronLeftIcon from "../components/Icons/ChevronLeftIcon.astro";
import ArrowUpOnSquareIcon from "../components/Icons/ArrowUpOnSquareIcon.astro";
import Navigation from "../components/Navigation.astro";
import WindowActions from "../components/WindowActions.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter, headings } = Astro.props;
const h2Items = headings.filter((head) => head.depth == 2);
const urlPost = Astro.url.href;
const formatedDate = new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});
---

<BaseLayout pageTitle={frontmatter.title}>
  <div class="container m-auto h-full flex flex-col content-center">
    <div
      class="flex items-stretch w-10/12 h-3/4 m-auto divide-x divide-gray-800 wrap-page"
    >
      <nav class="p-5 space-y-4 basis-1/3 backdrop-blur-xl rounded-s-lg">
        <WindowActions />
        <Navigation menuItems={h2Items} />
      </nav>
      <div
        class="flex flex-col w-full bg-gray-700 rounded-e-lg overflow-hidden divide-y divide-gray-800"
      >
        <header class="flex justify-between w-full p-4 bg-gray-600">
          <h1 class="uppercase font-bold">
            <a
              href="/"
              class="p-2 rounded-md hover:bg-gray-500/30 active:bg-gray-500 cursor-default"
              ><ChevronLeftIcon /></a
            >
            <span class="ml-2">{frontmatter.title}</span>
          </h1>
          <div>
            <a
              target="_blank"
              href={`https://www.linkedin.com/sharing/share-offsite/?url=${urlPost}&title=${frontmatter.title}&summary=${frontmatter.description}`}
              class="p-2 rounded-md hover:bg-gray-500/30 active:bg-gray-500 cursor-default"
              ><ArrowUpOnSquareIcon /></a
            >
          </div>
        </header>
        <main class="p-5 h-screen overflow-auto">
          <div class="aspect-w-16 aspect-h-6 mb-3">
            <img
              src={frontmatter.image.url}
              alt={frontmatter.image.alt}
              class="rounded-xl shadow"
            />
          </div>
          <article class="markdown-style">
            <slot />
          </article>
        </main>
        <footer
          class="w-full text-xs text-center text-gray-300 p-1 bg-gray-600"
        >
          <span class="font-bold">Written by:</span>
          {frontmatter.author}, <span class="font-bold">Published:</span>
          {formatedDate}
        </footer>
      </div>
    </div>
  </div>
</BaseLayout>
